.overlay {
  width: 295px;
  height: 497px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  margin-left:15px;
  border-radius: 8px;
  border: 1px solid #2e3156;
 
}
